@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-glow {
    text-shadow: 0 0 10px rgba(35, 103, 106, 0.8),
      0 0 20px rgba(97, 0, 254, 0.6), 0 0 30px rgba(0, 242, 254, 0.4);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}
